.sidenav {
  background: #263238;
  transition: all .5s ease;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 175px;
  height: 100vh;
  border-right: 1px solid #000000;
  //box-shadow: 0.063rem 0 1.25rem 0 #36373a;

  .icon {
    width: 25px;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);

  }

  .sidenav-nav-item {
    text-align: center;
    margin-top: 15px;
    color: #ffffff;
  }

  .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;

    .logo {
      background: #ffffff;
      text-align: center;
      width: 3rem;
      min-width: 3rem;
      border-radius: 0.313rem;
      font-size: 24px;
      font-weight: 900;
      cursor: pointer;
      border: none;
    }

    .logo-text {
      margin-left: 1.5rem;
      font-size: 24px;
      font-weight: 700;
      color: #ffffff;
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .fa-times {
        color: #ffffff;
        font-size: 24px;
      }
    }
  }
}

.sidenav-collapsed {
  width: 75px;
}

.sidenav-nav {
  list-style: none;

}
